@import "sass/Helpers/Variables";

body {
    position: relative;
    overflow-y: hidden;
}

#body {
    opacity: 0;
}

.spinner-grow {
    color: $yellow;
}

#cover {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 10005;
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tahoma !important;
    font-size: 16px;

    @media screen and (min-width:576px) {
        font-size: calc(1.3rem + .6vw);
    }
}