/* ******************* */
/* style for head sec  */
/* ******************* */
%headerSec{
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color:$yellow;
}